$whiteColor: #ffffff;
$mainColor: #0284c7;
$bigTitleColor: #334155;
$textParagraphColor: #6b7280;
$blackSecondaryColor: #334155;
$mainTwoColor: #de8821;
$secondaryColor: #fef3c7;
$secondaryTwoColor: #e0f2fe;
$mainTwoNColor: #49a7d8;
$mainGreenColor: #2d8659; // Verde principal
$mainGreenNColor: #b5e5c4; // Verde pastel
